<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="ICsiFeed" value="https://pkgs.dev.azure.com/ijurja/ICsi/_packaging/ICsiFeed/nuget/v3/index.json" />
  </packageSources>
</configuration>
